<%= form_for @signup do |f| %>


	<div>
		<%= f.label :fname, "First Name" %><br />
		<%= f.text_field :fname %>
	</div>

	<div>
		<%= label_tag :lname, "Last Name" %><br />
		<%= f.text_field :lname %><br />
	</div>

	<div>
		<br /><%= label_tag :gender, "Gender" %><br />
		
<%= f.radio_button(:gender, "M") %>
<%= f.label(:gender_male, "Male") %><br />
<%= f.radio_button(:gender, "F") %>
<%= f.label(:gender_female, "Female") %><br />
<%= f.radio_button(:gender, "U") %>
<%= f.label(:gender_unassigned, "Prefer not to tell") %>
	</div>



<div><br />
		<%= label_tag :dob, "Date of Birth" %><br />
		<%= f.date_field(:dob) %>
	</div>
	<div>
		<%= label_tag :email, "Email" %><br />
		<%= f.text_field :email %>
	</div>

	<div>
		<%= label_tag :gender, "Password" %> <br />
		<%= f.password_field :password%>
	</div>
	<div>
		<%= label_tag :password_confirmation, "Confirm Password" %><br />
		<%= f.password_field :password_confirmation%>
	</div>

	<%= f.submit "Submit" %> 
<% end %>
