<%= form_for @signup do |f| %>


	<div>
		<%= f.label :fname, "First Name" %><br />
		<%= f.text_field :fname,:required => true %>
	</div>

	<div>
		<%= label_tag :lname, "Last Name" %><br />
		<%= f.text_field :lname,:required => true %><br />
	</div>

	<div>
		<br /><%= label_tag :gender, "Gender" %><br />
		
<%= f.radio_button :gender, "M" ,:required => true%>
<%= f.label(:gender_male, "Male") %><br />
<%= f.radio_button :gender, "F" ,:required => true%>
<%= f.label(:gender_female, "Female") %><br />
<%= f.radio_button :gender, "U" ,:required => true%>
<%= f.label(:gender_unassigned, "Prefer not to tell") %>
	</div>



<div><br />
		<%= label_tag :dob, "Date of Birth" %><br />
		<%= f.date_field :dob,:required => true %>
	</div>
	<div>
		<%= label_tag :email, "Email" %><br />
		<%= f.text_field :email,:required => true %>
	</div>

	<div>
		<%= label_tag :gender, "Password" %> <br />
		<%= f.password_field :password,:required => true%>
	</div>
	<div>
		<%= label_tag :password_confirmation, "Confirm Password" %><br />
		<%= f.password_field :password_confirmation,:required => true%>
	</div>

	<%= f.submit "Submit" %> 
<% end %>
