<%= form_tag '/logins', :class => 'form' do %>

	<div>
		<%= label_tag :email %><br />
		<%= email_field_tag :email %>
	</div>

	<div>
		<%= label_tag :password %> <br />
		<%= password_field_tag :password%>
	</div>

	<%= submit_tag "Submit" %> 
<% end %>
