<section class='shop'>
   <div class="container">
      <div class="col-sm-12">
         <div class="row shoe-text-center">
            <div class="shoe-text-title">
               <h3>Cart</h3>
            </div>
         </div>

        <% if session[:user_id] %>
             <% if  !@cart.empty? %>
         <div class="row">
            <table>
               <tr>
                  <td>Style</td>
                  <td>Color</td>
                  <td>Size</td>
                  <td>Quantity</td>
                  <td>Price</td>
                  <td>Total</td>
               </tr>
               <% @cart.each do |c|
                  
                  shoe=Shoe.find c.sid
                  color= Color.find c.colorid
                  size= Size.find c.sizeid
                      %>
               <tr>
                  <td> <%= image_tag shoe.image,  size: "80"%>
                  <%= shoe.name  %></td>
                  <td> <%= color.color  %></td>
                  <td> <%= size.size %></td>
                  <td> <%= c.quantity  %></td>
                  <td> <%= shoe.price  %>$</td>
                  <td>  <%= shoe.price*c.quantity %>$ </td>
                  <td> <%= link_to  image_tag('remove.png',size: "16"), c, data: {method: "delete"} %></td>
               </tr>
               <% end %>
            </table>
         </div>
         <div class="checkout">
            <%= link_to  "checkout", carts_checkout_path%>
         </div>
         <% else %>
         Your cart is currently empty.
          <% end %>
          <% else %>
         You need to sign in to view cart.
          <% end %>
      </div>
   </div>
</section>