<%= form_for @cart do |f|%>

<%= if session[:user_id] then
f.hidden_field :cid,  :value => session[:user_id]
else 
f.hidden_field :cid,  :value => 0
end %>
<%= f.hidden_field :sid,  :value => @shoe.sid %>
<%= f.hidden_field :flag,  :value => 1 %>
    <p>Price =
        <%= @shoe.price %>$</p>

    <div class="buttons">
        <%= label_tag "Colors" %> <br />

        <% @availablecolor.each do |a|%>
        <%= f.radio_button :colorid, a.colorid,:required => true%> <%=a.color%>
        <img class="circle circle-color-select" data-bgcolor=<%=a.color%>> </img>
            <% end %>
            

    </div>
<br />
    <div class="size">
       <%= label_tag "Sizes" %> <br />
       <% @available.each do |a|%>
            <%= f.radio_button :sizeid, a.sizeid, :data => {:quantity => a.quantity}, class: "shoesize",:required => true %><%=a.size%>
            <% end %>

            <div class="shoequantity">
            </div>
           

    </div>
    <br>

    <br>

   <% if flash[:notice] -%>
  <p class="notice"><%= flash[:notice] %></p>
<% end -%>
<% if flash[:error] -%>
  <p class="error"><%= flash[:error] %></p>
<% end -%>

<%= submit_tag "Add to cart"%> 


<% end %>
