<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'bootstrap.min.css', 'style.css','font-awesome-4.1.0/css/font-awesome.min.css'%>
       
   
    <%= csrf_meta_tags %>
    
    <title>
        Shoe Store
    </title>
  </head>

  <body>
     <header class="heading navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle togglebutton" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class='shoe-logo'><%= image_tag 'men.jpg', class:"logo" %></a>
                
            </div>

            <div class="collapse navbar-collapse menubar">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Home", home_path %></li>
                    <li><%= link_to "Location", location_path %></li>
                    <li>  <%= link_to "Shop", categories_path %></li>
                    <li><a href="/cart">Cart</a></li>
<% if current_user %>
 <li><%= link_to "Logout" , login_path(session[:user_id]), data: {method: "delete"}%></li>
<% else %>
   <li><%= link_to "Login", new_login_path %></li>
<% end %>

            
                  
                </ul>
            </div>
        </div>
    </header>

    <%= yield %>

        <footer class="shoe-contact ">
        <div class="container">
            
            <div class="tittle">
                <h3 class='shoe-text-center shoe-text-uppercase'>Get in touch</h3>
                <hr>
            </div>
            
            <div class="social_icons">
                <ul>
                    <li class="facebook"> <a href="" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-facebook"></i> </a> </li>
                    <li class="twitter"> <a href="" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-twitter"></i> </a> </li>
                    <li class="youtube"> <a href="" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-youtube"></i> </a> </li>
                    <li class="linkedin "> <a href="" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s"><i class="fa fa-linkedin"></i> </a> </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="copyrights">
            <div class="container">
                <p class="pull-left">© Shoe Store All Rights Reserved</p>
            </div>
    </footer>


    <%= javascript_include_tag 'jquery.js','bootstrap.js','bootstrap.min.js' %>
    <%= javascript_include_tag 'jquery-1.10.2.min.js' %>
    <%= javascript_include_tag 'scrollReveal.js' %>
    <%= javascript_include_tag 'owl.carousel.min.js' %>
    <%= javascript_include_tag 'function.js' %>
  </body>
</html>
