<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'bootstrap.min.css', 'style.css','font-awesome-4.1.0/css/font-awesome.min.css'%>
       
   
    <%= csrf_meta_tags %>
    
    <title>
        Shoe Store
    </title>
  </head>

  <body>
     <header class="heading navbar navbar-inverse navbar-fixed-top " role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle togglebutton" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class='shoe-logo'><%= image_tag 'men.jpg', class:"logo" %></a>
                
            </div>

            <div class="collapse navbar-collapse menubar">
                <ul class="nav navbar-nav navbar-right">
                    <li><%= link_to "Home", home_path %></li>
                    <li>  <%= link_to "Shop", categories_path %></li>
                   
<% if current_user %>
 <li><%= link_to "Cart("+ Cart.where(flag: 1,cid: session[:user_id]).count.to_s + ")", carts_path %></li>
 <li><%= link_to "Logout" , login_path(session[:user_id]), data: {method: "delete"}%></li>
<% else %>
 <li><%= link_to "Cart", carts_path %></li>
   <li><%= link_to "Login", new_login_path %></li>
<% end %>

            
                  
                </ul>
            </div>
        </div>
    </header>

    <%= yield %>



    <%= javascript_include_tag 'jquery.js','bootstrap.js','bootstrap.min.js' %>
    <%= javascript_include_tag 'jquery-1.10.2.min.js' %>
    <%= javascript_include_tag 'scrollReveal.js' %>
    <%= javascript_include_tag 'owl.carousel.min.js' %>
    <%= javascript_include_tag 'function.js' %>
  </body>
</html>
